# Activity 01
**Objective:** Find, import and explore a dataset.

I have chosen a the dataset on information about the world's tallest [mountains](https://www.kaggle.com/abcsds/highest-mountains). 

Data description from the source: 

*"Wikipedias list of world's highest mountains. Shared as stated on wikipedias webpage under the Creative Commons Attribution-ShareAlike License

The columns are:

Rank: Position in the rank of highest mountains in the world. (Integer)
Mountain: Name or names of the mountain. (Text separated by slashes)
Height (m): Height in meters of the mountain. (Integer)
Height (ft): Height in feet of the mountain. (Integer)
Prominence (m): (Topographic prominence)[https://en.wikipedia.org/wiki/Topographic_prominence] of the mountain in meters. (Integer)
Range: What mountain range does this mountain belong to. (Text)
Coordinates: Coordenates of the highest point. (Text in (WGS84)[https://en.wikipedia.org/wiki/World_Geodetic_System] format)
Parent mountain: (Line parent)[https://en.wikipedia.org/wiki/Line_parent] of the mountain. (Text)
First ascent: Year of first ascent. (Year-formatted Integer)
Ascents bef. 2004: Number of successful ascents before 2004. (Integer)
Failed attempts bef. 2004: Number of unsuccessful ascents before 2004. (Integer)
"*

In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/Mountains.csv')

print "Total number of rows in the dataset is "+str(len(df.index))

# Show the first 5 rows of the dataframe
df.head()

Total number of rows in the dataset is 118

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 11 columns):
Rank                         118 non-null int64
Mountain                     118 non-null object
Height (m)                   118 non-null int64
Height (ft)                  118 non-null int64
Prominence (m)               118 non-null int64
Range                        118 non-null object
Coordinates                  118 non-null object
Parent mountain              117 non-null object
First ascent                 118 non-null object
Ascents bef. 2004            116 non-null object
Failed attempts bef. 2004    115 non-null float64
dtypes: float64(1), int64(4), object(6)
memory usage: 10.2+ KB
None